<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sri Lakshmi Devi Agencies</title>
    <link rel="stylesheet" href="/CSS/navbar.css">
    <link rel="stylesheet" href="/CSS/addingForms.css">
    <link rel="stylesheet" href="/CSS/homepage.css">
    <link rel="stylesheet" href="/CSS/productsInfo.css">
    <link rel="stylesheet" href="/CSS/subProductInfo.css">
    <link rel="stylesheet" href="/CSS/allInvoicesInfo.css">
    <link rel="stylesheet" href="/CSS/flashMsg.css">
    <link rel="icon" href="/images/lakshmiMata.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="boilerplate_body">
    <div id="container">
        <%-include("../includes/navbar.ejs")%>
        <%-include("../includes/flashMessage.ejs")%>
        <%-body%>
    </div>
    <!-- <script src="/JS/departmentsDropDown.js"></script> -->
</body>
</html>