#itemsOuterDivContainer{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
}
#itemsOuterDiv{
    width:92%;
    height:auto;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
#itemsInnerDiv1{
    width:100%;
    height:100px;
    border: 1px solid green;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding:0 20px 0 10px;
    column-gap: 13px;
}
#itemsInnerDiv2{
    width:100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap:50px;
}
#additemBtn{
    background: linear-gradient(135deg, #692951, #7a204f, #b0327d);
    color:white;
    padding:10px 15px;
    text-decoration: none;
    border-radius: 12px;
    margin-left: auto;
    cursor:pointer;
    transition: all 0.4s linear;
}
.indItem{
    height:200px;
    width:16%;
    box-shadow: 
    4px 4px 6px rgba(0, 0, 0, 0.25),   /* bottom-right black shadow */
    -4px -4px 6px rgb(219, 218, 218); /* top-left white highlight */
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    color:black;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}
.indItem:hover{
    scale:1.03;
}
.itemData_container{
    height:70%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.itemData{
    display: flex;
    height:25%;
    width:90%;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 7px;
}
.itemData_name_container{
    display: flex;
    align-items: center;
    height:30%;
    font-size: 13px;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 15px;
}
.itemData_name{
    position: relative;
}
.itemData_name::after{
    content:"";
    position: absolute;
    top:110%;
    left:0;
    width:50%;
    height:4px;
    border-radius: 7px;
    background: linear-gradient(125deg, #00c6ff, #0072ff, #6a11cb, #b91372);
}